@import "bootstrap";

body, html {
  height: 100%;
  width: 100%;
}

body {
  color: #444;
  background-color: #281f1d;
}


#head {
  padding: 20px 0 20px 0;
}

.inner {
  width: 800px;
  margin: 0 auto;
}

#header h1 {
  font-family: 'Slackey', cursive;
  font-weight: 300;
  font-size: 52px;
}

.bounceInDown {
  -webkit-animation-name: bounceInDown;
}

.animated {
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
}

h1 {
  display: block;
  -webkit-margin-before: 0.67em;
  -webkit-margin-after: 0.67em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

#headerbg {
  text-align: center;
  padding: 10px 10px;
  display: table;
  color: #fff;
  margin: 0 auto;
  border-radius: 5px;
  font-weight: bold;
  -webkit-mask-image: -webkit-linear-gradient(#000, rgba(0,0,0,0.9));
  backface-visibility: hidden;
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: .2s;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: both;
}
